.footer__filters {
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.footer__filters li {
  display: inline;
}

.footer__filters li a {
  border-radius: 3px;
  border: 1px solid transparent;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
}

.footer__filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.footer__filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}
