body,
html {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #f5f5f5;
  font-weight: 300;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 24px;
  font-weight: inherit;
  line-height: 1.4em;
  margin: 0;
  padding: 6px;
  position: relative;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus {
  outline: none;
}

input::-webkit-input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

input::-moz-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

input::input-placeholder {
  color: #e6e6e6;
  font-style: italic;
  font-weight: 300;
}

button {
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.app__loader {
  background-color: rgba(255, 255, 255, 0.85);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.app__loader__spinner {
  animation: spin 0.6s linear infinite, fadeIn 1s;
  border: 3px solid #f3f3f3;
  border-top: 3px solid #767676;
  border-radius: 50%;
  margin-top: -1.5em;
  margin-left: -1.5em;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 3em;
  height: 3em;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

.app__container {
  color: #4d4d4d;
  margin: 0 auto;
  max-width: 550px;
  min-width: 230px;
}

.app__content {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  margin: 130px 0 40px;
  position: relative;
}

.app__info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 12px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.app__info p {
  line-height: 1;
}

.app__info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.app__info a:hover {
  text-decoration: underline;
}

.app__todos {
  border-top: 1px solid #e6e6e6;
  position: relative;
  z-index: 2;
}

.app__todos ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__container {
  border-top: 1px solid #e6e6e6;
  color: #777;
  height: 20px;
  padding: 10px 15px;
  text-align: center;
}

.footer__container:before {
  bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2),
    0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
  content: "";
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
}

.footer__count {
  float: left;
  text-align: left;
}

.footer__count strong {
  font-weight: 300;
}

.footer__filters {
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}

.footer__filters li {
  display: inline;
}

.footer__filters li a {
  border-radius: 3px;
  border: 1px solid transparent;
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
}

.footer__filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.footer__filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.footer__clear,
.footer__clear:active {
  cursor: pointer;
  float: right;
  line-height: 20px;
  position: relative;
  text-decoration: none;
}

.footer__clear:hover {
  text-decoration: underline;
}

@media (max-width: 430px) {
  .footer__container {
    height: 50px;
  }

  .footer__filters {
    bottom: 10px;
  }
}

.header__title {
  color: rgba(175, 47, 47, 0.15);
  font-size: 100px;
  font-weight: 100;
  position: absolute;
  text-align: center;
  text-rendering: optimizeLegibility;
  top: -155px;
  user-select: none;
  width: 100%;
}

.header__input {
  background: rgba(0, 0, 0, 0.003);
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  padding: 16px 16px 16px 60px;
}

.header__toggle-all {
  border: none;
  opacity: 0;
  position: absolute;
  text-align: center;
}

.header__toggle-all + label {
  cursor: pointer;
  font-size: 0;
  height: 34px;
  left: -13px;
  position: absolute;
  top: 13px;
  transform: rotate(90deg);
  width: 60px;
  z-index: 1;
}

.header__toggle-all + label:before {
  color: #e6e6e6;
  content: "❯";
  font-size: 22px;
  padding: 10px 27px;
}

.header__toggle-all--checked + label:before {
  color: #737373;
}

/*
  Hack to remove background from Mobile Safari.
  Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .header__toggle-all {
    background: none;
  }
}

.todo {
  border-bottom: 1px solid #ededed;
  font-size: 24px;
  position: relative;
}

.todo:last-child {
  border-bottom: none;
}

.todo label {
  display: block;
  line-height: 1.2;
  padding: 15px 15px 15px 60px;
  transition: color 0.4s;
  word-break: break-all;
}

.todo--completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo:hover .todo__destroy {
  display: block;
}

.todo--editing {
  border-bottom: none;
  padding: 0;
}

.todo--editing:last-child {
  margin-bottom: -1px;
}

.todo--editing .todo__edit {
  display: block;
  margin: 0 0 0 43px;
  padding: 12px 16px;
  width: 506px;
}

.todo--editing .todo__view {
  display: none;
}

.todo__edit {
  display: none;
}

.todo__toggle {
  appearance: none;
  border: none;
  bottom: 0;
  cursor: pointer;
  height: 40px;
  margin: auto 0;
  opacity: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 40px;
}

.todo__toggle + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo__toggle:checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo__destroy {
  bottom: 0;
  color: #cc9a9a;
  display: none;
  font-size: 30px;
  height: 40px;
  margin: auto 0;
  position: absolute;
  right: 10px;
  top: 0;
  transition: color 0.2s ease-out;
  width: 40px;
}

.todo__destroy:hover {
  color: #af5b5e;
}

.todo__destroy:after {
  content: "×";
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .todo__toggle {
    background: none;
    height: 40px;
  }
}
